@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

abbr.acronym{
	font-variant: all-small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: center;
	text-indent: 0;
}

blockquote.note{
	font-style: italic;
}

p.interviewer{
	margin: 1.5em auto;
	text-indent: 0;
	font-style: italic;
}

p.interviewer + p{
	text-indent: 0;
}
